<!doctype html>
<html>
  <head>
    <title>Colors Game</title>
  </head>
  <body>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
      var socket = io();
      socket.on('change_color', function(color) {
        document.body.style.backgroundColor = color;
      });
    </script>
  </body>
</html>